doctype html
html
  head
    meta(charset='utf-8')
    |         
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    |         
    meta(name='format-detection', content='telephone=no')
    |         
    meta(name='format-detection', content='email=no')
    |         
    meta(name='format-detection', content='address=no')
    |         
    meta(name='format-detection', content='date=no')
    |         
    link(rel='shortcut icon', type='image/png', href='images/favicon.png')
    |         
    title &#x822A;&#x7A7A;&#x610F;&#x5916;&#x4E92;&#x52A9;&#x8BA1;&#x5212;
    // inject:css
    link(href='/static/mobile/app.aa0101c9aa8af0810bf80c9639ed728e.css', rel='stylesheet')
    // endinject
    // injectCordova
  |     
  body(ng-app='madaoClient')
    .view-page
      ion-nav-view
    |         
    script.
      window.HOST = "";
      window.STATIC_HOST = "/static/mobile/";
    // inject:js
    script(src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js')
    |         
    script(src=`/static/wechat/wechat_oauth_sdk.js?appkey=${WECHAT_APP_ID}&debug=false&_=0.1`)
    |         
    script(src='/static/mobile/app.b275a327568caa4d4b3390210d45fd54.js')
    // endinject
    script.
      /* inject:script */
