doctype html
html
  head
    meta(charset='utf-8')
    |         
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    |         
    meta(name='format-detection', content='telephone=no')
    |         
    meta(name='format-detection', content='email=no')
    |         
    meta(name='format-detection', content='address=no')
    |         
    meta(name='format-detection', content='date=no')
    |         
    link(rel='shortcut icon', type='image/png', href='images/favicon.png')
    |         
    title 航空意外互助计划
    // inject:css
    link(href='app.db286eeaec4c510bb8a74287017a4de4.css', rel='stylesheet')
    // endinject
    // injectCordova
  |     
  body(ng-app='madaoClient')
    .view-page
      ion-nav-view
    |         
    script.
      window.HOST = "/api";
      window.STATIC_HOST = "";
    // inject:js
    script(src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js')
    |         script(src=`wechat/wechat_oauth_sdk.js?appkey=${WECHAT_APP_ID}&debug=false&_=0.1`)
    |         
    script(src='app.a6dafd4b30712af94d95940cab62048c.js')
    // endinject
    script.
      /* inject:script */
