doctype html
html
  head
    meta(charset='utf-8')
    |         
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    |         
    meta(name='format-detection', content='telephone=no')
    |         
    meta(name='format-detection', content='email=no')
    |         
    meta(name='format-detection', content='address=no')
    |         
    meta(name='format-detection', content='date=no')
    |         
    link(rel='shortcut icon', type='image/png', href='images/favicon.png')
    |         
    title Aviation accident assistance program
    // inject:css
    link(href='/static/mobile/app.9653c2d7bca8fbe503aae494cf63f26f.css', rel='stylesheet')
    // endinject
    // injectCordova
  |     
  body(ng-app='madaoClient')
    .view-page
      ion-nav-view
    |         
    script.
      window.HOST = "";
      window.STATIC_HOST = "/static/mobile/";
    // inject:js
    script(src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js')
    |         
    script(src=`/static/wechat/wechat_oauth_sdk.js?appkey=${WECHAT_APP_ID}&debug=false&_=0.1`)
    |         
    script(src='/static/mobile/app.38173fdf017128c8d6e9ee951f3b32b2.js')
    // endinject
    script.
      /* inject:script */
