doctype html
html
  head
    meta(charset='utf-8')
    |         
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    |         
    meta(name='format-detection', content='telephone=no')
    |         
    meta(name='format-detection', content='email=no')
    |         
    meta(name='format-detection', content='address=no')
    |         
    meta(name='format-detection', content='date=no')
    |         
    link(rel='shortcut icon', type='image/png', href='images/favicon.png')
    |         
    title &#x822A;&#x7A7A;&#x610F;&#x5916;&#x4E92;&#x52A9;&#x8BA1;&#x5212;
    // inject:css
    link(href='/static/mobile/app.0d51359ed9c525ddc4183e1be4d953ae.css', rel='stylesheet')
    // endinject
    // injectCordova
  |     
  body(ng-app='madaoClient')
    .view-page
      ion-nav-view
    |         
    script.
      window.HOST = "";
      window.STATIC_HOST = "/static/mobile/";
    // inject:js
    script(src='/static/mobile/app.8ec6d7f850663fa7da5e740430be9f9a.js')
    // endinject
    script.
      /* inject:script */
