html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0,user-scalable=no', charset='utf-8')
        title Wechat Test
    body
        button#show_login_url show wechat login url
        br
        #display_login_url
        button#login wechat login
        br
        button#logout wechat logout
        br
        button#show_user_info show wechat user info
        br
        #display_user_info
        button#show_oauthData show wechat oauthData
        br
        #display_oauthData
        button#show_islogin show wechat isLogin
        br
        #display_islogin
        button#show_code show wechat code
        br
        br
        button#sys_login login
        br
        button#sys_logout logout
        br
        button#show_sys_user_info show user info
        br
        #display_sys_user_info
        br
        br
        button#buy_coin buy 0.002 coin
        br
        #display_buy_coin
        br
        input#out_trade_no(type="text")
        button#show_coin_order show coin order
        br
        #display_coin_order
        script(src=`/static/wechat/wechat_oauth_sdk.js?appkey=${WECHAT_APP_ID}&debug=true&_=0.1`, type='text/javascript', charset='utf-8')
        script(src='http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js', type='text/javascript')
        script.
            $(function(){
                $("#show_login_url").click(function(e){
                    $("#display_login_url").html(WXOauth.showLogin());
                });
                $("#login").click(function(e){
                    WXOauth.login(undefined, undefined, false);
                });
                $("#logout").click(function(e){
                    WXOauth.logout();
                    alert("Wechat Logout!");
                });
                $("#show_user_info").click(function(e){
                    if(WXOauth.isLogin()){
                        WXOauth.getUserInfo(function(data){
                            $("#display_user_info").html(JSON.stringify(data));
                        },function(data){
                            alert(data);
                        });
                    }else{
                        WXOauth.login(undefined, undefined, false);
                    }
                });
                $("#show_oauthData").click(function(e){
                    $("#display_oauthData").html(JSON.stringify(WXOauth.oauthData));
                });
                $("#show_islogin").click(function(e){
                    $("#display_islogin").html(""+WXOauth.isLogin());
                });
                $("#show_code").click(function(e){
                    alert(location.href);
                });

                $("#sys_login").click(function(e){
                    if(WXOauth.isLogin()){
                        $.post("/api/wechatlogin?access_token=" + WXOauth.oauthData.access_token + "&openid=" + WXOauth.oauthData.openid, function( data ) {
                            alert("Login!");
                        }).fail(function(response) {
                            alert('Error: ' + response.responseText);
                        });
                    }else{
                        WXOauth.login(undefined, undefined, false);
                    }
                });
                $("#sys_logout").click(function(e){
                    $.post("/api/logout", function( data ) {
                        alert("Logout!");
                    }).fail(function(response) {
                        alert('Error: ' + response.responseText);
                    });
                });
                $("#show_sys_user_info").click(function(e){
                    $.get("/api/me", function(data){
                        $("#display_sys_user_info").html(JSON.stringify(data));
                    }).fail(function(response) {
                        alert('Error: ' + response.responseText);
                    });
                });
                
                $("#buy_coin").click(function(e){
                    if(WXOauth.isLogin()){
                        $.post("/api/coinorders", {"coin": 0.002}, function(data){
                            var out_trade_no = data.out_trade_no;
                            $("#out_trade_no").val(out_trade_no);
                            $.post("/api/coinordergetpayparams?access_token=" + WXOauth.oauthData.access_token + "&openid=" + WXOauth.oauthData.openid + "&out_trade_no=" + out_trade_no, function(data){
                                $("#display_buy_coin").html(JSON.stringify(data));
                                var onBridgeReady = function(){
                                   WeixinJSBridge.invoke(
                                       'getBrandWCPayRequest', data, function(res){
                                           if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                                               // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
                                               alert("pay succeeded");
                                           }else{
                                               alert("pay failed");
                                           }
                                       }
                                   );
                                }
                                if (typeof WeixinJSBridge == "undefined"){
                                   if( document.addEventListener ){
                                       document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                                   }else if (document.attachEvent){
                                       document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
                                       document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                                   }
                                }else{
                                   onBridgeReady();
                                }
                            }).fail(function(response) {
                                alert('Error: ' + response.responseText);
                            });
                        }).fail(function(response) {
                            alert('Error: ' + response.responseText);
                        });
                    }else{
                        WXOauth.login(undefined, undefined, false);
                    }
                });
                $("#show_coin_order").click(function(e){
                    $.get("/api/coinorders?out_trade_no=" + $("#out_trade_no").val(), function(data){
                        $("#display_coin_order").html(JSON.stringify(data));
                    });
                });
            });
